<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <script type="text/javascript" src="../../../dist/main.js"></script>
  </head>
  <body>
    <nav class="navbar">
      <a href="#" class="navbar__brand">LOGO</a>
      <button class="navbar__nav">Links</button>
    </nav>
    <main class="main">
      <section>
        <form action="" onsubmit="return handleSubmit(event)" class="form">
          <label for="message">Introduce a message</label>
          <input
            type="text"
            name="message"
            id="message"
            placeholder="introduce your message"
          />
          <span id="error" class="danger"></span>
          <button>Submit</button>
        </form>
      </section>
      <section>
        <strong>Form Results:</strong>
        <div id="results"></div>
      </section>
    </main>
  </body>
</html>
